@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Merriweather/Merriweather-Regular.woff2") format("woff2"),
       url("./fonts/Merriweather/Merriweather-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/Merriweather/Merriweather-Italic.woff2") format("woff2"),
       url("./fonts/Merriweather/Merriweather-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/Merriweather/Merriweather-Bold.woff2") format("woff2"),
       url("./fonts/Merriweather/Merriweather-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: bold;
  src: url("./fonts/Merriweather/Merriweather-BoldItalic.woff2") format("woff2"),
       url("./fonts/Merriweather/Merriweather-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/OpenSans/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/OpenSans/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/OpenSans/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: bold;
  src: url("./fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 600;
  src: url("./fonts/OpenSans/OpenSans-SemiBoldItalic.woff") format("woff");
}
